.door-selection {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}
.door-selection .button {
    background: #262626;
    padding: 7px 12px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(230 231 226); 
    border-radius: 6px;
}

.door-selection .button:hover {
    background: #6a6a6a;
}

.door-selection .button.active {
    background: #6a6a6a;
}