{% extends 'Dashboard/base.html' %}
{% load static %}

{% block page %} 
    <li class="breadcrumb-item active" aria-current="page">Manage Quotes</li>
{% endblock page %}

{% block content %}

<div class="content">

    <!-- BEGIN: Notification -->
    {% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible show flex items-center mb-6 mt-5 text-white" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="btn-close text-white" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button>
        </div>
    {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <h2 class="text-dark text-center font-medium mt-10" style="font-size: 30px;">Manage Quotes</h2>
    <!-- BEGIN: Weekly Top Products -->
    <div class="col-span-12 mt-6 border-t border-dark pt-5">
        <div class="intro-y block sm:flex items-center h-10">
            <div class="flex items-center sm:ml-auto mt-3 sm:mt-0">
                <form id="mark-all-read-form" action="{% url 'mark_all_as_read' %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-primary box flex items-center text-slate-600 dark:text-slate-300" onclick="markAllAsRead()">Mark all as read</button>
                </form>                <!-- <button class="ml-3 btn btn-primary box flex items-center text-slate-600 dark:text-slate-300"> <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> || 
                   <i data-lucide="file-text" class="hidden sm:block w-4 h-4 mr-2"></i> 
                Export to PDF </button> -->
            </div>
        </div>
        <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
            {% if quotes %}
                <table class="table table-report sm:mt-2">
                    <thead>
                        <tr>
                            <th class="text-center whitespace-nowrap">SL NO</th>
                            <th class="text-center whitespace-nowrap">NAME</th>
                            <th class="text-center whitespace-nowrap">CONTACT</th>
                            <th class="text-center whitespace-nowrap">POSITION</th>
                            <th class="text-center whitespace-nowrap">COLOR</th>
                            <th class="text-center whitespace-nowrap">SIZE</th>
                            <th class="text-center whitespace-nowrap">ADDED DATE </th>
                            <th class="text-center whitespace-nowrap">ACTIONS</th>
                            <th class="text-center whitespace-nowrap">READ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in quotes %}
                        <tr class="intro-x">
                            <td class="text-center whitespace-nowrap">{{ forloop.counter }}</td>
                            <td class="flex justify-center">{{ data.Name }}</td>
                            <td class="text-center whitespace-nowrap">{{ data.Contact }}</td>
                            <td class="text-center whitespace-nowrap">{{ data.Hanging_position }}</td>
                            <td class="text-center whitespace-nowrap">{{ data.Color_shade }}</td>
                            <td class="text-center whitespace-nowrap">{{ data.Size }}</td>
                            <td class="text-center whitespace-nowrap">{{ data.Date | date:'d M Y' }}</td>
                            <td class="table-report__action w-48">
                                <div class="flex justify-center items-center">
                                    <a onclick="delete_quote('{{data.id}}')" class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal"> 
                                        <i data-lucide="trash" class="w-4 h-4 mr-1"></i>
                                    </a>
                                </div>
                            </td>
                            <td class="text-center whitespace-nowrap">
                                <form method="post" action="{% url 'update_read_status' data.id %}" id="read-form-{{ data.id }}">
                                    {% csrf_token %}
                                    {% if data.Is_read %}
                                        <span class="read-indicator"></span>
                                    {% else %}
                                        <input type="checkbox" name="quote_ids" value="{{ data.id }}" onchange="updateReadStatus(this, {{ data.id }})">
                                    {% endif %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible mt-3">
                <table class="table table-report -mt-2">
                    <tbody>
                        <tr class="intro-x width"> 
                            <td class=" width" style="width:100%;">
                                <i data-lucide="hard-drive" style="width:60px; height:60px; margin-left: auto; margin-right: auto; display: block; padding: 10px; border-radius: 50%;
                                    background: #e8e4e4;" class="w-4 h-4 mr-2 text-primary">  
                                </i>
                            <div style="text-align: center;">No data available!</div>
                            </td>   
                        </tr>    
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END: Weekly Top Products -->
</div>

<!-- BEGIN: Delete Confirmation Modal -->
<div id="delete-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'delete-quote' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="quote_id" id="quote_id">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="p-5 text-center">
                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-slate-500 mt-2">Do you really want to delete these records? <br>This process cannot be undone.</div>
                    </div>
                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                        <button type="submit" class="btn btn-danger w-24">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->

<script>
    function updateReadStatus(checkbox, quoteId) {
        const form = document.getElementById(`read-form-${quoteId}`);
        const formData = new FormData(form);
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                checkbox.style.display = 'none';
                var span = document.createElement('span');
                span.className = 'read-indicator';
                checkbox.parentNode.appendChild(span);
            } else {
                alert('Failed to update status');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<!-- Add the AJAX function to handle the form submission -->
<script>
    function markAllAsRead() {
        const form = document.getElementById('mark-all-read-form');
        const formData = new FormData(form);
        
        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update the UI to reflect the changes
                document.querySelectorAll('input[type="checkbox"][name="quote_ids"]').forEach(checkbox => {
                    checkbox.style.display = 'none';
                    var span = document.createElement('span');
                    span.className = 'read-indicator';
                    checkbox.parentNode.appendChild(span);
                });
            } else {
                alert('Failed to update status');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<style>
    .read-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        display: inline-block;
        margin-left: 5px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
    function delete_quote(quote_id){
        $('#quote_id').val(quote_id)
    }
</script>

{% endblock content %}
