{% extends 'Frontpage/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{%static 'style/product.css' %}">
<link rel="stylesheet" href="{%static 'css/button-style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{%static 'css/card-style.css' %}">
<link rel="stylesheet" href="{%static 'style/product_new.css' %}">

{% endblock %}



{% block content %}

    <!-- BEGIN: Notification -->
    {% if messages %}
    {% for message in messages %}
        <div class="intro-y col-span-11 alert alert-{{ message.tags }} alert-dismissible  fade show show-message" role="alert">
            <span><i data-lucide="info" class="w-4 h-4 mr-2"></i></span>
            <span>{{ message }}</span>
            <button type="button" class="close text-white" data-bs-dismiss="alert" aria-label="Close"> <i class="fa-solid fa-xmark"></i> </button>
        </div>
    {% endfor %}
    {% endif %}
    <!-- BEGIN: Notification -->

    <section class="inner-contents">
        <div class=" position-relative">
            <div class="banner-img ">
                <img class="banner-product" src="{% static 'assets/images/330x1496.webp' %}" alt="">
                <img class="banner-productImg" src="{% static 'assets/images/476x300.webp' %}" alt="">
            </div>
            <div class="innerpage-cnt text-center m-b-70">
                <h5 class="title-sub text-black">PETRA STEEL DOORS</h5>
                <h2 class="title-1">Products</h2>
            </div>
        </div>
    </section>


    <div class="door-selection pb-5">
        <button class="button active" id="luxury">Luxury Doors</button>
        <button class="button" id="signature">Signature Doors</button>
    </div>
    

    <div class="card-section">
        <h1 class="text-black text-center "></h1>
        <div id="all-container" class="card-container active">
            {% for door in all_products %}

            {% if door.Image %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    <img src="{{ door.Image.url }}" alt="">
                </a>
            </div>
            {% endif %}

            
            {% if door.Image2 and door.Door_type_2 != "none" %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    <img src="{{ door.Image2.url }}" alt="">
                </a>
            </div>
            {% endif %}

            {% if door.Image3 and door.Door_type_3 != "none" %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    <img src="{{ door.Image3.url }}" alt="">
                </a>
            </div>
            {% endif %}
            
            {% endfor %}
        </div>
        
        <div id="luxury-container" class="card-container">
            {% for door in luxury_products %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    {% if door.Door_type_1 == "luxury" %}
                    <img src="{{ door.Image.url }}" alt="">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
        
        <div id="single-container" class="card-container">
            {% for door in single_products %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    {% if door.Door_type_1 == "single" %}
                    <img src="{{ door.Image.url }}" alt="">
                    {% endif %} 
                    
                    {% if door.Door_type_2 == "single" %}
                    <img src="{{ door.Image2.url }}" alt="">
                    {% endif %} 

                    {% if door.Door_type_3 == "single" %}
                    <img src="{{ door.Image3.url }}" alt="">
                    {% endif %} 
                </a>
            </div>
            {% endfor %}
        </div>
        
        <div id="double-container" class="card-container">
            {% for door in double_products %}
            <div class="door-card">
                <a class="swiper-slide" href="{{ door.get_absolute_url }}" style="border-radius: 7px;">
                    <h2 class="cardDcnt animate__animated animate__fadeInUp ">{{ door.Name }}</h2>
                    {% if door.Door_type_1 == "double" %}
                    <img src="{{ door.Image.url }}" alt="">
                    {% endif %} 
                    
                    {% if door.Door_type_2 == "double" %}
                    <img src="{{ door.Image2.url }}" alt="">
                    {% endif %} 

                    {% if door.Door_type_3 == "double"  %}
                    <img src="{{ door.Image3.url }}" alt="">
                    {% endif %}                
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    

    <script src="{% static 'js/button.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Add this in the head or at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>


{% endblock %}