{% extends 'Frontpage/base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{%static 'style/testimonials.css' %}">

{% endblock %}


{% block content %}

<section class="inner-contents">
    <div class=" position-relative">
        <div class="banner-img ">
            <img class="banner-product" src="{% static 'assets/images/330x1496.webp' %}" alt="">
            <img class="banner-productImg" src="{% static 'assets/images/476x300.webp' %}" alt="">
        </div>
        <div class="innerpage-cnt text-center m-b-70">
            <h5 class="title-sub text-black">PETRA STEEL DOORS</h5>
            <h2 class="title-1">Testimonials</h2>
        </div>
    </div>
</section>

<section class="test">
    <div>
        <div class="iframe-containers">
            <div class="iframe-wrappers">
                {% for video in videos %}     
                    <iframe class="iframe"  style="border-radius: 7px" src="{{ video.Link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe class="iframe"   style="border-radius: 7px" src="{{ video.Link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    {% endfor %}
            </div>    
        </div>
       
    </div>
    <style>
        .iframe-wrappers {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap:10px;
            padding-left: 40px;
            margin: 54px 28px;
        }
        
        .iframe {
            width: 560px; 
            height: 350px;
        }
        
        @media only screen and (max-width: 1024px) {
            .iframe-wrappers {
                grid-template-columns: repeat(2, 1fr); 
            }
            .iframe {
                width: 400px; 
            }
        }
        
        @media only screen and (max-width: 670px) {
            .iframe-wrappers {
                grid-template-columns: 1fr; 
            }
            .iframe {
                width: 100%;
            }
        }
        
        @media only screen and ( max-width:670px) {
            .iframe-wrappers {
                padding-left: 0px;
            }
            .iframe-wrappers .iframe{
                border-radius: 12px;
                width: 100%;
                height: 280px;
            }
        }
    </style>
   
</section>


{% endblock %}