.show-message {
    display: block;
    background: #84cc16;
    border: 1px solid;
    border-color: #84cc16;
    margin-top: 14px;
    color: #fff;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}
.close i {
    font-size: 22px;
}
.cardDcnt {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 300px;
    background-color: rgba(38, 38, 38, 0.6);
    font-weight: 500;
}
.swiper-slide {
    overflow: hidden; 
} 