.swiper-slide p {
    margin: 0 42px;
}

.signature-doors .swiper-slide h2 {
    display : none;
}
.swiper-slide:hover h2 {
    display : block;
    text-align : center;
}   
.signature-doors .mySwiper {
    width: 100%;
    height: 100%;
}
.producdescription p {
    padding-right: 27px;
}
.swiper-slide {
    overflow: hidden; 
} 

.swiper-slide h2{
    display: none;
}