{% load static %}
<!DOCTYPE html>
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="{% static 'dashboard/images/logo.png' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        {% block title %}
            <title>Dashboard | Petra</title>
        {% endblock title %}

        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'dashboard/css/app.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/base-style.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/premium.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- END: CSS Assets-->
    </head>
    <!-- END: Head -->

    <body class="py-5">
        <!-- BEGIN: Mobile Menu -->
        <div class="mobile-menu md:hidden" style="background: #333333;">
            <div class="mobile-menu-bar">
                <a href="" class="flex mr-auto">
                    <img alt="Midone - HTML Admin Template" src="{% static 'assets/images/Petra-logo.png' %}" style="width: 60px;">
                </a>
                <a href="javascript:;" class="mobile-menu-toggler" id="open"> 
                    <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> 
                </a>
            </div>
            <div class="scrollable" style="background-color: #747474;">
                <a href="javascript:;" class="mobile-menu-toggler" id="close">  
                    <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> 
                </a>
                <ul class="scrollable__content py-2">
                    <li>
                        <a href="{% url 'dashboard' %}" class="menu menu--active">
                            <div class="menu__icon"> <i data-lucide="home"></i> </div>
                            <div class="menu__title"> Dashboard </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Gallery </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Enquiries </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Premiums </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Singles </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="menu">
                            <div class="menu__icon"> <i data-lucide="box"></i> </div>
                            <div class="menu__title"> Doubles </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Mobile Menu -->

        <!-- BEGIN: Top Bar -->
        <div class="border-b border-white/[0.08] mt-[2.2rem] md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
            <div class="top-bar-boxed flex items-center">
                <!-- BEGIN: Logo -->
                <a href="" class="-intro-x hidden md:flex">
                    <img alt="Midone - HTML Admin Template" src="{% static 'assets/images/Petra-Logo.png' %}" style="width: 80px;">
                </a>
                <!-- END: Logo -->

                <!-- BEGIN: Breadcrumb -->
                <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
                    <ol class="breadcrumb breadcrumb-light">
                        <li class="breadcrumb-item"><a href="#">Application</a></li>
                        {% block page %}
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        {% endblock page %}
                    </ol>
                </nav>
                <!-- END: Breadcrumb -->

                <!-- BEGIN: Search -->
                <div class="intro-x relative mr-3 sm:mr-6">
                    <div class="search hidden sm:block">
                        <input type="text" class="search__input form-control border-transparent" placeholder="Search...">
                        <i data-lucide="search" class="search__icon dark:text-slate-500"></i> 
                    </div>
                    <a class="notification notification--light sm:hidden" href=""> 
                        <i data-lucide="search" class="notification__icon dark:text-slate-500"></i> 
                    </a>
                </div>
                <!-- END: Search -->

                <!-- BEGIN: Account Menu -->
                 
                <div class="account-auth">
                    <li>
                        <a href="{% url 'sign-out' %}" class="dropdown-item hover:bg-white/5"> 
                            <i  class="w-4 h-4 mr-2"></i> Logout 
                        </a>
                    </li>
                </div>
                <div class="account-menu">
                    <i class="fa-solid fa-user"></i>
                    <p class="font-medium">{{ user.username }}</p>
                 </div>
                
                <!-- END: Account Menu -->
            </div>
        </div>
        <!-- END: Top Bar -->

        <!-- BEGIN: Top Menu -->
        <nav class="top-nav">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}" class="top-menu ">
                        <div class="top-menu__icon"> <i data-lucide="home"></i> </div>
                        <div class="top-menu__title"> Dashboard </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-products' %}" class="top-menu ">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Products </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-enquirys' %}" class="top-menu ">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Enquiries </div>
                        {% if total_unread_enquirys > 0 %}
                        <span> {{total_unread_enquirys}} </span>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-complaints' %}" class="top-menu ">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Services </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-testimonials' %}" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Testimonials </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-gallery' %}" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Gallery </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage-blogs' %}" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Blogs </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'enquiries' %}" class="top-menu">
                        <div class="top-menu__icon"> <i data-lucide="box"></i> </div>
                        <div class="top-menu__title"> Contacts </div>
                    </a>
                </li>
                
            </ul>
        </nav>
        <!-- END: Top Menu -->

        <div class="flex items-center justify-between flex-1">
            {% block content %}
            {% endblock content %}
        </div>

        <script src="{% static 'dashboard/js/app.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=Function.prototype&language=en&v=weekly" defer></script>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const open = document.getElementById('open');
                const close = document.getElementById('close');
                const displayDiv = document.querySelector('.mobile-menu');

                open.addEventListener('click', () => {
                    displayDiv.classList.toggle('mobile-menu--active');
                });

                close.addEventListener('click', () => {
                    displayDiv.classList.remove('mobile-menu--active');
                });

                const navLinks = document.querySelectorAll('.top-menu');
                const activeLinkHref = localStorage.getItem('activeLinkHref') || "{% url 'dashboard' %}";
                const currentHref = window.location.href;
                const targetUrl = new URL(activeLinkHref, currentHref);

                // Redirect if the current URL is different from the target URL
                if (currentHref !== targetUrl.href) {
                    window.location.href = targetUrl.href;
                }

                navLinks.forEach(link => {
                    const href = link.getAttribute('href');
                    if (href === activeLinkHref) {
                        link.classList.add('top-menu--active');
                    }
                    link.addEventListener('click', () => {
                        localStorage.setItem('activeLinkHref', href);
                    });
                });
            });
        </script>
    </body>
</html>
